.Search-results {
    display: flex;
    flex-direction: column;
    margin: 6px;
    min-height: 20vh;
    background-color: var(--backColor);
    border-radius: 5px;
}

.Results-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Results-header > h2 {
    font-size: 2rem;
    color: white;
    margin: 2rem;
}

select {
    height: 2.4rem;
}

.Results-header p {
    width: 95%;
    margin: 0.8rem;
    color: white;
}