.Search-bar {
    margin: 2rem;
    width: 90%;
}

.search-icon {
    color: white;
}

.Search-button {
    background-color: rgb(31, 63, 66);
    border-color: white;
}

.Search-button:hover {
    background-color: blue;
}