.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 16.5vw;
    height: 275vh;
    background: linear-gradient(black, black, transparent);
    background-color: black;
}

hr {
    color: white;
}

.sidebar > p {
    padding: 0 1rem;
    color: gray;
    transition: 200ms color ease-in;
}

.sidebar > p:hover {
    color: white;
}