.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 16.5vw;
    height: 275vh;
    background: linear-gradient(black, black, transparent);
    background-color: black;
    flex: 0.20;
}

.userInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--frontColor);
    border-radius: 40px;
    margin: 2rem;
}

.userInfo > img {
    height: 3vw;
    border-radius: 100%;
    margin: 0.2rem 0.5rem;
}

.userInfo > h3 {
    color: white;
    font-size: 1vw;
}

hr {
    color: white;
}

.sidebar > h2 {
    color: white;
}

.sidebar > p {
    padding: 0 1rem;
    color: gray;
    transition: 200ms color ease-in;
}

.sidebar > p:hover {
    color: white;
}